# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
*.egg-info/
.pytest_cache/

# Logs
logs/
dmx_controller.log

# Entornos virtuales
venv/
env/
.env

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos temporales
*.bak
*.swp
*~